:root {
    --highlight: lightskyblue;
    --second-highlight: lightblue;
    --secondary: white;
    --main: black;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-right {
    0%{
        opacity: 0;
        transform: translateX(-40px);
        filter: blur(2px);
    }
    80% {
        filter: blur(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes logo-build {
    0% {
        opacity: 0;
        column-gap: 50px;
        transform: rotate(0deg);
    }
    50%{
        gap: 2px;
        opacity: 0.8;
        scale: 0.8;
    }
    100% {
        opacity: 1;
        gap: 10px;
        transform: rotate(405deg);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
#sidebar button {
    width: 100%;
}
#page{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr ;
    grid-template-columns: minmax(200px, 1fr) 4fr;
}

#header {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: black;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
}

#header h1 {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    cursor: default;
    transition: all 1s;
    animation: slide-right 1s ease;
}

#header h1:hover > span {
    color: var(--highlight);
    letter-spacing: 2px;
    font-size: 45px;
}

#header span {
    transition: all 1s;
}

#top-logo {
    background-color: black;
    height: 80px;
    width: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    background-color: black;
    justify-self: center;
    gap: 10px;
    transform: rotate(45deg);
    transition: all  1.5s ease-in-out 0.2s;
    animation: logo-build 1.5s ease;
}
#top-logo:hover {
    transform: rotate(405deg);
    gap: 2px;
    scale: 0.8;
    /* gap: 5px; */
}
.logo-bar {
    background-color: black;
}
#one {
    grid-row: 1;
    background-color: white;
    grid-column: 1/ -2;
}
#four {
    grid-column: span 2;
    background-color: white;
}
#two{
    background-color: var(--highlight);
}
#three{
    background-color: var(--highlight);
}


#sidebar {
    align-self: start;
    position: sticky;
    top: 0;
    grid-row: 2 / -1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#sidebar button {
    background-color: black;
    color: white;
    font-size: 18px;
    height: 60px;
    border: none;
    transition: all 0.6s;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 10px;
    animation: slide-right 1s ease-in-out;
}
#sidebar button p {
    justify-self: start;
}
#sidebar button:hover {
    background: var(--secondary);
    color: var(--main);
    /* margin: 10px; */
    padding-left: 20px;
}
#add-button:hover,
#form-submit:hover {
    background-color: var(--highlight);
    scale: 1.1;
    color: black;
    
}
#add-button {
    margin-left: 10px;
    justify-self: center;
}

#sidebar button:hover > .nav-image,
#add-button:hover > #plus {
    filter:invert(0%);
}
#add-button,
#form-submit {
    height: 50px;
    width: 150px;
    background-color: black;
    transition: all 0.6s;
    border: none;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    align-items: center;

    font-size: 18px;
    font-weight: 600;

    margin-top: 10px;
    animation: slide-down 1s ease;
}
#add-button p {
    justify-self: start;
}
#plus {
    height: 20px;
    align-self: center;
    justify-self: center;
}
#add-button:hover > .nav-image {
    filter: invert(100%);
}
.nav-image {
    filter: invert(100%);
    transition: all 0.6s;
}

#sidebar button img {
    height: 30px;
    width: auto;
    justify-self: end;
}

#sidebar #add-nav {
    margin-top: 50px;
}
#sidebar #add-nav:hover {
    background-color: var(--highlight);
}


/* tab styling */
#content {
    margin-left: 10px;
    margin-right: 10px;
}
#content > * {
    animation: slide-down 1s ease;
}

.overview-tab {
    /* background-color: black; */
    animation: slide-down 1s ease;
    display: grid;
    grid-auto-rows: minmax(1fr, 100px);
    /* grid-template-columns: repeat(2,  1fr); */
    align-content: start;
    gap: 10px;

    overflow: auto;
    align-items: center;
    background-color: black;
}

.overview-tab .task-item {
    position: relative;
    border: 1px solid black;
    height: 100px;
    border-radius: 20px;
    padding: 5px 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr; 
    transition: all 1s ease;
}
.task-item > h3 {
    pointer-events: none;
}

.high-priority {
    background-color: red;
    order: -10;
}
.medium-priority {
    background-color: skyblue;
    order: -5;
}
.low-priority{
    background-color: lightgreen;
    order: -1;
}

.overview-tab .title {
    align-self: center;
    justify-self: center;
    font-size: 20px;
    gap: 20%;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    min-width: max-content;
}
.overview-tab .description {
    align-self: center;
    justify-self: start;
    text-overflow: ellipsis; 
    font-weight: 500;
}

#content .finished {
    color: lightgray;
    background-color: darkgrey;
    order: 10;
}
#content .finished > h3 {
    text-decoration: line-through;
}

.new-form-tab h1 {
    color: var(--highlight);
}
.form-info {
    color: white;
}

#add-form .form-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 5px;
}

#content #add-form {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#add-form .form-info label {
    font-size: 18px;

}
.form-info input {
    padding: 5px 10px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    border: none;

}
.form-info input:hover,
.form-info input:focus-visible {
    outline: none;
    scale: 1.05;
    background-color: var(--highlight);
}
.form-info input:invalid {
    background-color:lightcoral;
}
.form-info input:valid {
    background-color: var(--highlight);
}

.form-info select{
    padding: 5px 10px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}
select:hover {
    background-color: var(--highlight);
    scale: 1.05;
}

/* Define the fade-in animation */
.button-fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* When the element has the 'visible' class, show it */
.button-fade-in.visible {
    opacity: 1;
}

.task-item button {
    background-color: inherit;
    border: none;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    justify-self: flex-end;
    width: 95%;
    height: 100%;
}

.task-item button:hover {
    scale: 1.1;
    background-color: white;
    color: red;
}

.date {
    align-self: center;
    justify-self: start;
}

.finished > .delete-button:before {
    content: 'Undo ';
}