
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
button {
    width: 100%;
}
#page{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr ;
    grid-template-columns: minmax(200px, 1fr) 4fr;
}
#header {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: black;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
}
#header h1 {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    cursor: default;
    transition: all 1s;
}
#header h1:hover {
    letter-spacing: 2px;
}

#top-logo {
    background-color: black;
    height: 80px;
    width: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    background-color: black;
    justify-self: center;
    gap: 10px;
    transform: rotate(45deg);
    transition: all  1.5s ease-in-out 0.2s;
}
#top-logo:hover {
    transform: rotate(405deg);
    gap: 2px;
    scale: 0.8;
    /* gap: 5px; */
}
.logo-bar {
    background-color: white;
}
#one {
    grid-row: 1;
    grid-column: 1/ -2;
}
#four {
    grid-column: span 2;
}


#sidebar {
    grid-row: 2 / -1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#sidebar button {
    background-color: black;
    color: white;
    font-size: 18px;
    height: 60px;
    border: none;
    transition: all 0.6s;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 10px;
}
#sidebar button p {
    justify-self: start;
}
#sidebar button:hover {
    background: white;
    color: black;
    margin: 10px;
}
#sidebar button:hover > .nav-image {
    filter:invert(0%);
}
.nav-image {
    filter: invert(100%);
    fill: green;;
    transition: all 0.6s;
}

#sidebar button img {
    height: 30px;
    width: auto;
    justify-self: end;
}

#sidebar #add-button-nav {
    margin-top: 50px;
}